*, *::after, *::before {
	box-sizing: border-box;
}

body {
    background: cornflowerblue;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}
ul{
    list-style-type:none;
    padding-left:0px;
}
.label{
    text-decoration:none;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
}
 .ul-container{
    display:flex;
    text-align:center;
}
.ul-container li.dropdownItems{
    padding: 10px 0;
    position: relative;
    width: 150px;
    .dropdown-content{
        position: absolute;
        .dropdownArrow{
            top: 14px;
            margin: 0 0 0 -6px;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            border-radius: 4px 0 0 0;
            background: #fff;
            box-shadow: -3px -3px 5px rgba(82,95,127,.04);
            will-change: transform;
            position: absolute;
            left: 18%;
        }
        .alignment{
            width: auto;
            background-color: white;
            padding: 25px;
            border-radius: 10px;
            text-align: left;
            margin: 20px;

            li{
                .linkContent{
                    flex: 1;
                    margin-left: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 15px 0;
                    h3{
                        margin: 0;
                        color: #6772e5;
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: .025em;
                    }
                    p{
                        font-size: 15px;
                        line-height: 22px;
                        color: #6b7c93;
                        margin: 5px 0 0;
                        display: block;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .ul-container {
        display: none;
    }
    .hamburgerMenuWrapper{
        display: inline-block;
        div{
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
        }
    }
    .menuWrapper{
        background: white;
        display: inline-block;
        position: absolute;
        left: 7px;
        top: 10px;
        border-radius: 10px;
        padding: 20px;
        color: grey;
        width: 98%;
        .itemWrapper{
            column-count: 2;
            .items {
                padding-bottom: 20px;
            }
        }
        
        .closeIcon{
            text-align: right;
            font-size: 20px;
        }
    }
}
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.hide{
    display: none;
}
